<div class="container" *ngIf="user && (user.role === 'admin');else notAdmin">
    <mat-tab-group>
        <mat-tab label="Products">
            <form [formGroup]="product" >
                <div class="row w-100">
                    <div class="col-md-12 mb-1" *ngIf="!id">
                        <input type="file" #fileControl (change)="fileHandler(fileControl)" hidden/>
                        <h4 class="text-center">{{file ? file.name : 'Please Select a file '}}</h4>
                        <button type="button" mat-raised-button class="w-100" (click)="fileControl.click()">Upload Image</button>
                    </div>
                    <div class="col-12 text-center" *ngIf="image">
                        <img class="my-2" [src]='env.api+image' height="200px">
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter product name</mat-label>
                            <input matInput placeholder="Title" formControlName="title" required />
                            <mat-error >Must be a valid name </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Price</mat-label>
                            <input type="number" matInput placeholder="Price" formControlName="price" required />
                            <mat-error >Must be a valid price </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Product Brand</mat-label>
                            <input matInput placeholder="Brand" formControlName="brand" required />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Product Quantity</mat-label>
                            <input type="number" matInput placeholder="Quantity" formControlName="stock" required />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Choose a category</mat-label>
                            <mat-select formControlName="category" required >
                              <mat-option value="game">Games</mat-option>
                              <mat-option value="ps4acs">Play Station</mat-option>
                              <mat-option value="xboxacs">Xbox </mat-option>
                              <mat-option value="monitor">Monitor</mat-option>
                              <mat-option value="keyboard">Keyboard</mat-option>
                              <mat-option value="mouse">Mouse</mat-option>
                              <mat-option value="speaker">Speaker</mat-option>
                              <mat-option value="printer">Printer</mat-option>
                              <mat-option value="gaming">Gaming Desktop</mat-option>
                              <mat-option value="serverws">Sever Workstation</mat-option>
                              <mat-option value="laptop">Laptop</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Seller name</mat-label>
                            <input matInput placeholder="Seller" formControlName="soldBy" required />
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Enter Product Description</mat-label>
                            <textarea matInput placeholder="Description" formControlName="description" required></textarea>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <h4 *ngIf="alert;else spinner" class="text-center m-1">{{alert}}</h4>
                        <ng-template #spinner>
                            <span class="spinner-border"></span>
                        </ng-template>
                        <div class="form-element">
                            <button type="button" mat-raised-button color="primary" (click)="product.valid && submit()" [disabled]="product.invalid">Save</button>
                            <button type="button" mat-raised-button class="ml-2" (click)="resetForm()">Reset</button>
                        </div>
                    </div>
                </div>
            </form>
            <mat-divider class="my-2"></mat-divider>
            <div class="my-2">
                <mat-table [dataSource]="productList" class="mat-elevation-z1">
                    <!-- Position Column -->
                    <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="stock">
                    <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.stock}} </mat-cell>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="brand">
                    <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.brand}} </mat-cell>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="update">
                    <mat-header-cell *matHeaderCellDef> Update </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="updateProduct(element)">Update <mat-icon>update</mat-icon></mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="deleteProduct(element)">Delete <mat-icon>delete</mat-icon> </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="['title','stock','brand','update','delete']"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: ['title','stock','brand','update','delete'];"></mat-row>
                </mat-table>
            </div>
        </mat-tab>
        <mat-tab label="Users">
            <mat-table [dataSource]="userList" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> User</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> User mail </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef> User role </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.role}}<mat-icon>admin</mat-icon></mat-cell>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="admin">
                <mat-header-cell *matHeaderCellDef> Toggle Role </mat-header-cell>
                <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="toggleRole(element)"> {{element.role === 'admin' ? 'Make visitor' : 'Make admin'}} <mat-icon>compare_arrows</mat-icon> </mat-cell>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="deleteUser(element)">Delete <mat-icon>delete</mat-icon>? </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="['name','email','role','admin','delete']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['name','email','role','admin','delete'];"></mat-row>
            </mat-table>
        </mat-tab>
        <mat-tab label="Orders">
            <mat-table [dataSource]="orderList" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Order By</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> User mail </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef> Number Of Items </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{getCount(element.items)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="view">
                    <mat-header-cell *matHeaderCellDef> View Order</mat-header-cell>
                    <mat-cell *matCellDef="let element" style="cursor: pointer;" [routerLink]="['/order',element._id]"> View <mat-icon>view_compact</mat-icon> </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
                    <mat-cell *matCellDef="let element" style="cursor: pointer;" (click)="deleteOrder(element)">Delete <mat-icon>delete</mat-icon>? </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="['name','email','quantity','view','delete']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['name','email','quantity','view','delete'];"></mat-row>
            </mat-table>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #notAdmin>
    <h2 class="text-center">You are not Admin</h2>
</ng-template>