.container{
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    min-height: 90vh;
    form{
        margin-top: 20px;
    }
    
}
.mat-column-delete {
    flex: none;
    width: 100px;
}
.mat-column-admin {
    flex: none;
    width: 150px;
}
.mat-column-role {
    flex: none;
    width: 100px;
}
.mat-column-name {
    flex: none;
    width: 200px;
}
.mat-column-quantity {
    flex: none;
    width: 150px;
}