<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 text-center">
            <span class="h1 my-2 display-1 d-block">Contact Us</span>
            <div style="height: 50px;"></div>
            <span class="my-2 h4 text-center d-block">
                "Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is
                ready to answer all your questions"
                <br>
            </span>
            <div style="height: 50px;"></div>
        </div>
        <div class="col-12 my-4">
            <div class="row text-center">
                <div class="col-sm-4">
                    <span class="h5 d-block">
                        Support Enquiries: <br>
                        Get in touch with customer support?<br>
                    </span>
                    <span class="d-block h6">
                        Call : [contactSupport]<br>
                        email: [support@xyz.com]<br>
                    </span>
                </div>
                <div class="col-sm-4">
                    <span class="h5 d-block">
                        Address: <br>
                        Reach out to us?<br>
                    </span>
                    <span class="h6 d-block">
                        [Address line 1] <br>
                        [Address country/state] <br>
                    </span>
                </div>
                <div class="col-sm-4">
                    <span class="h5 d-block">
                        Sales Enquiries: <br>
                        Talk to our experts today? <br>
                    </span>
                    <span class="d-block h6">
                        Call : [contactSales] <br>
                        email: [sales@xyz.com] <br>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>